@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

input{
    color: #fff;
    padding: 17px;
    outline: none;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    border-radius: 25%;
}

.textMainColor{
    background-color: #000;
    width: 150px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
}
main{
    display: inline-block;
}

.numMainColor{
    background-color: #000;
    width: 64px;
    height: 67px;
}