@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

input{
    color: white;
    width: 64px;
    height: 67px;
    border-radius: 22px;
    letter-spacing: 5px;
    padding: 17px;
    outline: none;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    border-radius: 25%;
}

main{
    display: inline-block;
}

.textMainColor{
    background-color: #000;
    width: 150px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
}

.numMainColor{
    background-color: #000;
}

.numBlue{
    background-color: blue;
}

.numPin{
    background-color: pink;
}

.numGre{
    background-color: green;
}

.numPur{
    background-color: purple;
}

.numOra{
    background-color: orange;
}
